@media (prefers-color-scheme: light) {
  body {
    background-color: white;
  }
  .body {
    color: black;
  }
  header {
    color: white;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: green transparent;
}

html {
  font-size: 20px;
}

.body {
  margin: 20px;
}

a {
  color: white;
}

nav {
  display: flex;
  overflow: auto;
  position: fixed;
  z-index: 9;
  width: calc(100% - 1rem);
  bottom: 0px;
  background-color: black;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

span,
label {
  margin: 1px;
  border-bottom: none;
  min-width: fit-content;
  width: 100%;
  height: 20px;
  padding: 10px;
  background-color: rgb(40, 40, 40);
  border-radius: 5px;
  display: flex;
  align-items: baseline;
  cursor: pointer;
  text-align: leftw;
  user-select: none;
}

span {
  background-color: midnightblue;
  max-width: fit-content;
}

span .fa-solid {
  margin-right: 0px;
}

.fa-solid {
  margin-right: 10px;
}

h1 .fa-solid {
  margin-right: 20px;
}

input[type="radio"] {
  display: none;
}

label:hover {
  background-color: rgb(19, 19, 19);
}

span:hover {
  background-color: green;
}

section {
  display: none;
}

#dashboard:checked + .dashboard {
  display: block;
}
#movies:checked + .movies {
  display: block;
}
#series:checked + .series {
  display: block;
}
#plays:checked + .plays {
  display: block;
}
#animation:checked + .animation {
  display: block;
}
#anime:checked + .anime {
  display: block;
}
#fiction:checked + .fiction {
  display: block;
}
#non-fiction:checked + .non-fiction {
  display: block;
}
#poetry:checked + .poetry {
  display: block;
}
#comic_books:checked + .comic_books {
  display: block;
}
#manga:checked + .manga {
  display: block;
}
#video_games:checked + .video_games {
  display: block;
}
#music:checked + .music {
  display: block;
}
#art:checked + .art {
  display: block;
}

/* TABLE
/////////////////////////////////////////////////////////////////////////
*/

.flex-table {
  table {
    background-color: rgb(150, 150, 150);
    border-collapse: collapse;
    margin: 20px 0px 50px 0px;
    border-radius: 20px 20px 10px 10px;
    width: 100%;
    color: black;
    overflow: hidden;
  }

  thead {
    font-weight: bold;
    border-bottom: 5px solid black;
  }

  tbody tr:nth-last-of-type(2n) {
    background-color: rgb(180, 180, 180);
  }

  th,
  td {
    text-align: left;
    padding: 5px 20px;
    min-width: fit-content;
    white-space: normal;
    overflow-wrap: break-word;
    hyphens: auto;
  }

  th {
    font-size: 25px;
  }

  tbody tr:hover {
    color: #39ff14;
    background-color: #124a14;
  }
}

.dashboard {
  margin-bottom: 70px;
}

.dash-table {
  margin: 5px;

  th,
  td {
    padding: 10px 10px 10px 10px;
    font-size: 25px;
  }

  th {
    text-align: left;
    width: 10ch;
  }
}

/* TEXT */

h1 {
  font-size: 50px;
  margin: 0px;
}

h2 {
  font-size: 40px;
  margin: 25px 0 10px;
}

em {
  color: orange;
}

::selection {
  background-color: #124a14;
  color: #39ff14;
}

input[type="checkbox"] {
  width: 25px;
  height: 25px;
  accent-color: #4caf50;
}
.uncheckable {
  pointer-events: none;
}

h3 {
  margin: 0 0 10px 0;
}

p {
  max-width: 80ch;
  font-size: 20px;
  line-height: 1.75;
  text-align: left;
  hyphens: auto;
  overflow-wrap: break-word;
  margin: 10px 0 0 0;
}

.columns {
  display: flex;
  gap: 60px;
}

.flex-1 {
  width: 100%;
  flex: 1;
  position: sticky;
  top: 0;
}

.flex-2 {
  width: 100%;
  flex: 1;
  margin-right: 10px;
  padding: 15px 30px;
  border: 1px solid white;
  border-radius: 10px;

  p {
    margin: 20px 0 0 0;
  }
}
