@media (prefers-color-scheme: light) {
  body {
    background-color: white;
  }
  .body {
    color: black;
  }
  header {
    color: white;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: green transparent;
}

html {
  font-size: 20px;
}

body {
  background-image: url("/_assets/images/nnnoise.svg");
}

.body {
  margin: 20px;
}

a {
  color: white;
}

nav {
  display: flex;
  overflow: auto;
  position: fixed;
  z-index: 9;
  width: calc(100% - 1rem);
  bottom: 0px;
  background-color: black;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-top: 10px solid rgba(0, 0, 0, 0.5);
  -ms-overflow-style: none;
  scrollbar-width: none;
}
nav::-webkit-scrollbar {
  display: none;
}

nav span,
label {
  margin: 1px;
  border-bottom: none;
  min-width: fit-content;
  width: 100%;
  height: 20px;
  padding: 10px;
  background-color: rgb(40, 40, 40);
  border-radius: 5px;
  display: flex;
  align-items: baseline;
  cursor: pointer;
  text-align: leftw;
  user-select: none;
}

nav span {
  background-color: midnightblue;
  max-width: fit-content;
}

span .fa-solid {
  margin-right: 0px;
}

.fa-solid {
  margin-right: 10px;
}

h1 .fa-solid {
  margin-right: 20px;
}

input[type="radio"] {
  display: none;
}

nav label:hover {
  background-color: rgb(19, 19, 19);
}

nav span:hover {
  background-color: green;
}

section {
  display: none;
}

#dashboard:checked + .dashboard {
  display: block;
}
#movies:checked + .movies {
  display: block;
}
#series:checked + .series {
  display: block;
}
#plays:checked + .plays {
  display: block;
}
#animation:checked + .animation {
  display: block;
}
#anime:checked + .anime {
  display: block;
}
#fiction:checked + .fiction {
  display: block;
}
#non-fiction:checked + .non-fiction {
  display: block;
}
#poetry:checked + .poetry {
  display: block;
}
#comic_books:checked + .comic_books {
  display: block;
}
#manga:checked + .manga {
  display: block;
}
#video_games:checked + .video_games {
  display: block;
}
#music:checked + .music {
  display: block;
}
#art:checked + .art {
  display: block;
}

.dashboard {
  margin-bottom: 70px;
}

.dash-table {
  margin: 5px;

  th,
  td {
    padding: 10px 10px 10px 10px;
    font-size: 25px;
  }

  th {
    text-align: left;
    width: 10ch;
  }
}

/* ///////////////////// */
/* TEXT */

h1 {
  font-size: 50px;
  margin: 0px;
}

h2 {
  font-size: 40px;
  margin: 25px 0 10px;
}

em {
  color: orange;
}

::selection {
  background-color: #124a14;
  color: #39ff14;
}

input[type="checkbox"] {
  width: 25px;
  height: 25px;
  accent-color: #4caf50;
}
.uncheckable {
  pointer-events: none;
}

h3 {
  margin: 0 0 10px 0;
}

p {
  max-width: 80ch;
  font-size: 20px;
  line-height: 1.75;
  text-align: left;
  hyphens: auto;
  overflow-wrap: break-word;
  margin: 10px 0 0 0;
}

.columns {
  display: flex;
  gap: 60px;
}

.flex-1 {
  width: 100%;
  flex: 1;
  position: sticky;
  top: 0;
}

.flex-2 {
  width: 100%;
  flex: 1;
  margin-right: 10px;
  padding: 15px 30px;
  border: 1px solid white;
  border-radius: 10px;

  p {
    margin: 20px 0 0 0;
  }
}

/* TABLE
/////////////////////////////////////////////////////////////////////////
*/

.flex-table {
  overflow: auto;
  table {
    margin-top: 20px;
    margin-bottom: 60px;
    padding: 0;
    border-radius: 20px 20px 10px 10px;
    border-collapse: collapse;
    width: 100%;
    background-color: rgb(160, 160, 160);
    overflow: hidden;
  }

  tr:nth-child(even) {
    background-color: rgb(140, 140, 140);
  }

  thead {
    border-bottom: 4px solid black;
  }

  tbody {
    td + td {
      border-left: 2px solid rgba(194, 194, 194, 0.5);
    }
  }

  th {
    font-size: 35px;
    background-color: rgb(255, 140, 0);
    padding: 10px;
    padding-bottom: 5px;
    padding-top: 0px;
    vertical-align: bottom;
    text-wrap: nowrap;
  }

  td {
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
  }

  td:has(input[type="checkbox"]) {
    text-align: center;
  }

  tr:has(input[type="checkbox"]:checked) {
    background-color: green;

    td {
      border-bottom: 2px solid rgba(194, 194, 194, 0.5);
    }
  }
}
/* //////////////////// */

.fa {
  color: rgb(50, 50, 50);
  user-select: none;
}

.checked {
  color: orange;
}

td:has(.fa) {
  text-align: center;
}

td[data-cell="Year"] {
  font-family: Courier, monospace;
}
td[data-cell="Title"] {
  font-weight: bold;
}
